.basic-details-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  text-align: center;
  height: 30rem;
  width: 22rem;
  color: rgb(67, 102, 96);
  font-weight: bolder;
  font-size: smaller;
  padding: 0.5rem;
  border-radius: 1rem;
}

.basic-details-card__title {
  text-align: center;
  margin: 1.5rem;
  font-weight: 900;
  font-size: larger;
}

.basic-details-card__movie-score {
  margin-top: 1rem;
  font-size: large;
  outline: 2px solid rgb(74, 148, 136);
  width: 21rem;
}

.basic-details-card__overview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23.5rem;
}

@media (min-width: 280px) {
  .basic-details-card {
    width: 18rem;
    margin-left: 1rem;
  }
  .basic-details-card__overview {
    width: 95%;
  }
  .basic-details-card__movie-score {
    width: 80%;
  }
}

@media (min-width: 360px) {
  .basic-details-card {
    width: 21rem;
    margin-left: 1rem;
  }
  .basic-details-card__overview {
    width: 95%;
  }
  .basic-details-card__movie-score {
    width: 80%;
  }
}

@media (min-width: 375px) {
  .basic-details-card {
    width: 23rem;
    margin-left: 1rem;
  }
}

@media (min-width: 412px) {
  .basic-details-card {
    width: 23rem;
    margin-right: 0.75rem;
  }
}