html,
body {
  scroll-behavior: smooth;
}

.next-pages {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed !important;
  position: absolute; /*ie6 */
  bottom: 0;
  z-index: 999;
  background-color: rgb(67, 102, 96);
  border-radius: 4rem;
  margin: 0.5rem;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}

.prev-page {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  margin: 1rem;
  height: 2rem;
  padding: 0.5rem;
  color: white;
}

.prev-page:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition-duration: 400ms;
}

.prev-page:active {
  transform: translate(-2px, 1%);
}

.next-page {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  margin: 1rem;
  height: 2rem;
  padding: 0.5rem;
  color: white;
}

.next-page:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition-duration: 400ms;
}

.next-page:active {
  transform: translate(-2px, 1%);
}

.page-number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  margin: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 4rem;
  background-color: rgb(67, 102, 96);
  color: white;
  outline: 2px solid white;
}