
.page-divide {
    width: 2rem;
    outline: 2px solid rgb(67, 102, 96);
    width: 100%;
}

.similar-movies-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 95%;
    margin: 9rem 2.5rem 0 2rem;
}

.similar-movies__header {
    margin-bottom: 3rem;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    color: rgba(255, 255, 255, 0.7);
}

.similar-movies-container__loading-similar {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
    margin: 4rem;
    margin-bottom: 4rem;
    color: rgba(255, 255, 255, 0.7);
}

.similar-movies {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.similar-movies__movie {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 20rem;
    margin: 1rem;
    border-radius: 1rem;
}

.similar-movies__movie img {
    border-radius: 1rem;
}

.similar-movies__movie img:hover {
    outline: 4px solid rgb(67, 102, 96);
}

.similar-movies-container__loading-header {
    margin-bottom: 3rem;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    color: rgba(255, 255, 255, 0.7);
}

.movie__title {
    display: flex;
    align-items: center;
    height: 4rem;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bolder;
}

.movie__release-date {
    color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 653px) {
    .similar-movies-container {
        width: 1000px;
    }
}

@media (max-width: 1180px) {
    .similar-movies-container {
        width: 1300px;
    }
}