
.similar-movies-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100vw;
    margin-right: 2.5rem;
    margin-left: 2rem;
}

.similar-movies-container__loading-similar {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
}

.similar-movies {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.similar-movies__movie {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 20rem;
    margin: 1rem;
    border-radius: 1rem;

}

.similar-movies__movie img {
    border-radius: 1rem;
}

.similar-movies__header {
    margin-bottom: 3rem;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
}

.movie__title {
    display: flex;
    align-items: center;
    height: 4rem;
}

@media (max-width: 653px) {
    .similar-movies-container {
        width: 1000px;
    }
}

@media (max-width: 1180px) {
    .similar-movies-container {
        width: 1300px;
    }
}